<body>
<nav class="navbar navbar-light  bg-primary ">
  <h5 class="navbar-brand">{{ 'HOME.TITLE' | translate }}</h5>
  <form class="form-inline">
    <div>{{userName}}</div>
    <button class="btn btn-primary btn-outline-light" (click)="goToLogin()" *ngIf="!userFound">{{ 'LOGIN.LOGIN' | translate }} </button>
    <button class="btn btn-primary btn-outline-light" (click)="logout()"  *ngIf="userFound">{{ 'LOGOUT.LOGOUT' | translate }}</button>
  </form>
</nav>
<div>
  <button class="btn btn-primary btn-outline-light"  *ngxPermissionsOnly="['ADMIN','PRODUCT']"    (click)="goToShipping()">Shipping</button>
  <button class="btn btn-primary btn-outline-light"  *ngxPermissionsOnly="['ADMIN','CUSTOMER']"  (click)="goToPayment()">Payment</button>
  <button class="btn btn-primary btn-outline-light"  *ngxPermissionsOnly="['ADMIN','CART']"      (click)="goToCatalog()">Catalog</button>
</div>



</body>


