<body>
<nav class="navbar navbar-light  bg-primary ">
  <h5 class="navbar-brand">{{ 'HOME.TITLE' | translate }}</h5>
  <form class="form-inline">
    <div>{{userName}}</div>
    <button class="btn btn-primary btn-outline-light" (click)="goToLogin()" *ngIf="!userFound">{{ 'LOGIN.LOGIN' | translate }} </button>
    <button class="btn btn-primary btn-outline-light" (click)="logout()"  *ngIf="userFound">{{ 'LOGOUT.LOGOUT' | translate }}</button>
  </form>
</nav>
<button class="btn btn-primary btn-outline-light" (click)="goToShop()" >Shop</button>
<button class="btn btn-primary btn-outline-light" (click)="goToProduct()" >Product</button>
</body>


