<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand">
      <button mat-raised-button>{{'Save' | translate }}</button>
      <button mat-raised-button>{{'Cancel' | translate }}</button>
      <button mat-raised-button>{{'Pause' | translate }}</button>
    </a>
    <span class="form-inline">
      <select class="form-control"
              #selectedLang
              (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()"
                [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
  </div>
</nav>

